.my-table-top,
.my-table-mid,
.my-table-bottom {
  width: 100%;
}

.my-table-mid {
  overflow: hidden;
  overflow-y: auto;
}

.my-table-mid::-webkit-scrollbar {
  display: none;
}

.my-table-top .row .item,
.my-table-mid .row .item,
.my-table-bottom .row .item {
  border: 1px solid #eff1f7;
  padding: 0.65rem;
  font-size: 14px;
  padding: 0.65rem;
}

.my-table-top .row,
.my-table-mid .row,
.my-table-bottom .row {
  margin-left: auto;
  margin-right: auto;
}

.my-table-top .row .item:not(:last-child),
.my-table-mid .row .item:not(:last-child),
.my-table-bottom .row .item:not(:last-child) {
  border-right: 0;
}

.my-table-mid .row.active {
  background-color: #f1f1f1;
}

.select2-container--default .select2-selection--single {
  padding: 3px;
}

.my-table-mid .row .item .el-select {
  width: 100%;
}

.my-table-mid .row .item .el-input__inner {
  display: block;
  width: 100%;
  height: 34px;
  padding: 0.7rem;
  font-size: 0.96rem;
  font-weight: 400;
  line-height: 1.25;
  color: #4e5154;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.my-table-mid .row .item .el-input__icon {
  line-height: 30px;
}

.my-table-mid .row .item .el-input-number {
  width: 100%;
  /* width: auto; */
}

.my-table-mid .row .item .el-input-number__decrease,
.my-table-mid .row .item .el-input-number__increase {
  /* width: 30%; */
  height: 32px;
  line-height: 32px;
  border-color: #dbe3e6;
  background-color: #fff;
  color: #444;
}

.my-table-mid .row .item .el-input-number__increase {
  background-color: #586cb1;
  border-color: #586cb1;
  color: #fff;
}

.my-table-bottom .el-date-editor.el-input {
  width: 100%;
}

.my-table-bottom .el-input__inner {
  height: 34px;
}

.my-table-bottom .el-input__icon {
  line-height: 34px;
}
